<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .completed{
            text-decoration: line-through; 
            color:gray;
        }
    </style>
    <title>toDoList</title>
</head>
<body>
    <div id='app'>
        <h1>To Do List</h1>
        <select v-model='status'>
            <option value='all' >전체</option>
            <option value='active' >진행중</option>
            <option value='done' >완료</option>
        </select>

        <ul>
            <li v-for='todo in todoByStatus' :key="todo.id" v-if ='!todo.completed' :class="{completed:todo.completed}">    
                    <input type='checkbox' v-model="todo.completed">{{todo.title}} 
            </li>
            <li class='completed' v-else><input type='checkbox' v-model="todo.completed">{{todo.title}} 
            </li>
        </ul>
        <input type='text' v-model='newTodo'>
        <button @click='addTodoList(newTodo)'>+</button>
        <br>
        <button @click='deleteCompleted(todos)'>완료된 할 일 지우기</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
      
        const app = new Vue({
            el : '#app',
            data : {
                todos:[
                {
                    id : 1,
                    title:'Django 복습',
                    completed : false,
                },
                {   
                    id : 2,
                    title:'JavaScript 복습',
                    completed : false,
                },
                {
                    id : 3,
                    title : '병원 가기',
                    completed: true,
                },
                {
                    id : 4,
                    title : '물리치료 받기',
                    completed: false,
                },
                
                ],
                newTodo : '',
                status : 'all',
            },
            methods : {
                check : function(todo){
                    todo.completed = !todo.completed   
                    if (todo.completed){console.log(todo.title,"완료")}
                    else {console.log(todo.title,"완료 취소")}
                },
                
                addTodoList : function(newTodo){
                    console.log(this.newTodo)
                    if (this.newTodo.length) {
                        this.todos.push(
                        {
                        id : Date.now(),
                        title : this.newTodo,
                        completed:false,
                        }
                    )                   
                    this.newTodo = ''
                    }
                   
                },
                deleteCompleted : function (todos) {
                    //filter: cB(callback)함수의 return에 작성된 값으로 필터링한 결과를 
                    const notCompTodos = this.todos.filter(function (todo) {
                        // return 조건 : 완료되지 않은 값들로만 배열을 만들어 리턴
                        return !todo.completed
                    })
                    console.log(notCompTodos)
                    this.todos = notCompTodos
            
                },
                
            },

        computed : {
            todoByStatus : function () {
                    if (this.status==='active'){
                        return this.todos.filter(todo =>{
                            return !todo.completed
                        })
                    }
                    else if (this.status === 'done'){
                        return this.todos.filter(todo=>{
                            return todo.completed
                        })
                    }
                    else {
                        return this.todos
                    }
                }
            },
        })
    </script>
</body>
</html>